<!doctype html>
<html>
<body>
<style>   

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<h1 align="center"> APP STATUS </h1>
<table style="width:100%">
    <tr>
      <th>App Name</th>
      <th>App Version</th> 
      <th>Updated Date</th>
      <th>Updated By</th>
    </tr>
    {% for row in table %}
    <tr>
       <td>{{ row['app_name'] }} </td>
       <td>{{ row['app_version']}} </td>
       <td>{{ row['updated_date']}} </td>
       <td>{{ row['updated_by'] }} </td>
    </tr>
   {% endfor %}
</table>
</body>
</html>
